configuration {
	modi: "drun,run,ssh,combi";
	font: "hack 30";
	show-icons: true;
	combi-modi: "drun,ssh,run";
}

@theme "/home/zxy/.config/rofi/arlic.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"
